@media(min-width: $screen-sm){
    
    .motech-list{
        border-bottom: 0px;
        margin-bottom: $space-size;
        .motech-list-rows>li>*,
        .motech-list-rows>li>dl>dd{
            padding: $space-size/2;
            border-left: $list-color 1px solid;
            &.list-item-main,
            &.motech-list-collapsible,
            &.list-item-collapsible-toggle {
                border-left-width: 0px;
            }
            &.motech-list-collapsible{
                border-top: $list-color 1px solid;
            }
        }
        .motech-list-rows>li>dl{
            border: 0px;
            padding: 0px;
        }
        .motech-list-rows>li:nth-child(even){
            background-color:$gray-lighter;
        }
    }

    .motech-list .motech-list-rows>li,
    .motech-list-column-headers{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-bottom: $space-size;
        >*{
            display: inline-block;
            white-space: nowrap;
            flex: 0 0 auto;
            padding-top: $space-size;
        }
        .list-item-main{
            flex: 1 0 auto;
        }
        >dl{
            display: flex;
            margin-bottom: 0px;
            position: relative;
            >*{
                flex: 0 0 auto;
            }
            >dd{
                display: inline-block;
                padding-top: $space-size;
            }
            >dt{
                position: absolute;
                top: 0px;
                padding: $space-size/4 $space-size/2;
                font-size: 0.8em;
            }
        }
        .motech-list-collapsible{
            display: none;
            width: 100%;
        }
    }
    .motech-list.has-collapsible-content{
        .motech-list-column-headers{
            padding-left: 30px;
        }
        .motech-list-rows>li{
            position: relative;
            padding-left: 30px;
            >a.list-item-collapsible-toggle{
                width: 30px;
                height: 100%;
                position: absolute;
                top: 0px;
                left: 0px;
            }

        }
    }
}