.app .secondary-nav{
	background-color: $brand-accent;
	&.navbar ul li{
		padding-top: 0em;
		a {
			padding: 0.5em;
		}
	}
	button.navigation{
		float: left;
		margin: 0em 0.5em 0.5em;
	}
}

.app-nav{
	padding-top: 1em;
	#{$navItemSelectors} {
		float:none;
		padding: 1em;
		border-bottom: $gray-light 1px solid;
	}
	ul>li:first-child,
	nav>a:first-child{
		border-top: $gray-light 1px solid;
	}

	.nav-section {
		.title{
			font-size: $font-size-small;
			padding: 0.5em 1em 0em;
		}
	}

	a.is-active,
	li.is-active a,
	a.active,
	li.active a {
		background-color: $white;
		color: $brand-primary;
	}

}